@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Crete+Round:ital@1&display=swap');

.banner-image {
  background-image: url('../../images/R_D_based_beauty_products_1024x1024.jpg');
  background-size: cover;
  background-attachment: fixed;
 /* background-position: fixed; */
}
.main{
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Zen Antique Soft', serif;
}

.bg-orange {
  background-color: rgb(247, 144, 107);
  color: rgb(8, 8, 8);
}

.opaque-navbar {
  background-color: rgba(0, 0, 0, 0.062);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
  height: 60px;
  border-bottom: 0px;
  transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
  background-color: black;
  height: 60px;
  transition: background-color .5s ease 0s;
}

@media (max-width: 992px) {
  

  .opaque-navbar {
    background-color: rgb(0, 0, 0);
    height: 60px;
    transition: background-color .5s ease 0s;
  }

  /* .navbar-dark .navbar-nav{
  background-color: antiquewhite;
  padding: -10px;
  margin: 0px -17px;
 padding: -10px;
} */

}



@media(max-width: 920px) {
    

    .navbar{
      background-color: rgb(247, 144, 107);;
    }

    .para {
        min-height: 800px;
       
    }
}

/* About Page */
.about_page_head{
  background-image:url(./images/R_D_based_beauty_products_1024x1024.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.mt-123{
  margin-top: 500px;
}

  /* future service */

  .future_service{
   
    min-height: 90vh;
    background-color:  #ffe6ff;
    padding-bottom: 50px;
  }


  



/* Price css */
.pricing{
  min-height: 90vh;

}
.price{
 
 border: 2px solid rgb(241, 178, 178);
}
.price:hover{
  background-color: bisque;
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
}

/* appointment */

.appointment_section {
  min-height: 90vh;
  background-color: #ffe6e6;
}

/* blog css */
.blog{
min-height: 90vh;

}


/* serbices */

.icons a{
  text-decoration: none;
  color: white;
}

.icon ion-icon{
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}

.icon ion-icon:hover{
  color: #e67213;
}

/* Our Expert Makeup & Beautician Artist */

/* icon font color=#8c8c8c */
footer{
  background-color: rgb(245, 163, 163);
  
}

